.split-flex {
  display: flex;
  flex-direction: row;
}

.Catalogue {
  /* width: 100vw; */
  height: 100vh;
  background: black;
  padding-left: 2em;
  padding-right: 1em;
}

.CourseTitle {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
}

p {
  font-family: "Anonymous Pro";
  font-weight: 700;
  font-size: 1.2em;
}

ul {
  /** works with ol too **/
  list-style: none; /** removes bullet points/numbering **/
  padding-left: 0px; /** removes actual indentation **/
}

.ChapterText {
  color: white;
}

.CurrentChapter {
  color: #37ebd5;
}

.Bottom {
  position: absolute;
  bottom: 2em;
}
